    text-shadow: 0 0.5px 0 rgba({{R}}, {{G}}, {{B}}, 0.9),
                 0 -0.5px 0 rgba({{R}}, {{G}}, {{B}}, 0.9),
                 0.5px 0 0 rgba({{R}}, {{G}}, {{B}}, 0.9),
                 -0.5px 0 0 rgba({{R}}, {{G}}, {{B}}, 0.9),
                 0 1px 3px rgba({{R}}, {{G}}, {{B}}, 0.7),
                 0 2px 5px rgba({{R}}, {{G}}, {{B}}, 0.5),
                 0 0 6px rgba({{R}}, {{G}}, {{B}}, 0.8),
                 0 0 12px rgba({{R}}, {{G}}, {{B}}, 0.6),
                 0 0 18px rgba({{R}}, {{G}}, {{B}}, 0.35);
}
